# Configuration for the EMG Sensor System

# Serial Connection
SERIAL_PORT=COM3
BAUD_RATE=9600

# Firebase Database URL
FIREBASE_DB_URL=https://synapselink-6c405-default-rtdb.asia-southeast1.firebasedatabase.app
